
@model LoginViewModel

<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="col-md-6 col-lg-5">
        <div class="card shadow-lg rounded-4 p-4">
            <h3 class="text-center mb-4">Giriş Yap</h3>
            <form action="Login" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="mb-3">
                    <label asp-for="Email" class="form-label">E-posta</label>
                    <input asp-for="Email" class="form-control" placeholder="ornek@mail.com">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Password" class="form-label">Şifre</label>
                    <input asp-for="Password" class="form-control" type="password" placeholder="******">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="d-grid">
                    <button class="btn btn-primary" type="submit">Giriş Yap</button>
                </div>
            </form>
        </div>
    </div>
</div>
